.first-sec {
    width: 320px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.manage-goals-card {
    background-color: rgba(173, 216, 230, 0.14);
}

#goal-title {
    font-size: 32px;
    text-align: center;
}

.goal-content {
    margin-left: 25px;
    list-style-type: none;
    font-size: 21px;
}

.second-sec {
    width: 100%
}

.your-goals-title {
    text-align: left;
    font-size: 32px;
}

#add-icon {
    color: forestgreen;
}

#goal-complete {
    color: green;
}

#goal-incomplete {
    color: red;
}

.grid-goals-section {
    margin: 0 auto;
}

.goals-card {
    width: 275px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(144, 238, 144, 0.22);
}

.delete-button {
    background-color: indianred;
}

.complete-button {
    background-color: limegreen;
}

#goal-name {
    text-align: center;
}

.goals-image {
    float: right;
}

.goals-buttons {
    float: right;
}

