<div class="add-user" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card-title>Emergency Contacts</mat-card-title>
        <mat-card>
            <mat-card-content>
                Emergency Contact #1
            </mat-card-content>
            <mat-card-content>
                Emergency Contact #2
            </mat-card-content>
            <mat-card-content>
                Emergency Contact #3
            </mat-card-content>
            <button mat-raised-button id="exitWithoutAddingButtonn" (click)="onNooClick()" type="button">Exit</button>
        </mat-card>
    </div>
</div>
