<body>
    <div class="container text-center">


        <h2>Hey there!</h2>
        <p>How are you feeling today?</p>

        <div>
            <button mat-fab class="happyEmoji" matTooltip="happy" (click)="lightHappy()">
            </button>
            <button mat-fab class="mehEmoji" matTooltip="normal" (click)="lightMeh()">
            </button>
            <button mat-fab class="sadEmoji" matTooltip="sad" (click)="lightSad()">
            </button>
            <button mat-fab class="angryEmoji" matTooltip="angy" (click)="lightAngry()">
            </button>
            <button mat-fab class="anxiousEmoji" matTooltip="anxious" (click)="lightAnxious()">
            </button>

        </div>

        <p>How would you rate the intensity of your feelings?</p>
        <p style="font-size:70%">(1 means a little, 5 means extremely)</p>

            <mat-slider
            class="slider"
            max="5"
            min="1"
            step="1"
            thumb-label="thumbLabel"
            [(ngModel)]="emojiRating"
            (input)="emojiRating=$event.value">
            </mat-slider>

        <div>
            <button type="button" id="submitAndThanks" (click)="addEmotion(); openThanks();">
            submit
            </button>

            <button type="button" id="videos" (click)="openDialog();">
                relaxing videos
            </button>
        </div>


</div>

</body>
