.mood-buttons button {
    background-color: transparent;
    border: none;
    color: transparent;
    padding: 10px 24px; /* Some padding */
    cursor: pointer;
    float:none;
    display:inline-block;
    margin-right:-4px;
}

.mood-buttons button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.mood-buttons:after {
    content: "";
    clear: both;
    display: table;
}

.mood-buttons button:hover {
    background-color: transparent;
}

.mood-buttons button{
    size: 200px;
}


mat-card{padding-top:200px;}

mat-slider {
    width: 300px;
}

.greeting {
    color: #ffff1a;
    font-family: "Trebuchet MS";
    text-align: center;
    padding: 0%;
}
.other-greeting  {
    color: #ffff1a;
    font-family: "Trebuchet MS";
    text-align: center;

}
