<body>
<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <!-- <img src="http://www.picshouse2.com/vb/imgcache/2/30114poster.jpg">-->
            </div>
            <div>
                <body>
                <head>
                    <style>
                        h1 {
                            color: darkblue;
                            font-family: "Trebuchet MS";
                            font-size: 300%;
                            text-align: center;
                        }

                    </style>
                </head>
                <body>
                <h1>Thank you for recording!</h1>

                </body>
                </body>
            </div>
        </div>
    </div>
</div>
</body>
