<head>
    <script defer src="https://apis.google.com/js/platform.js"></script>
    <meta name="google-signin-client_id" content="296237216257-59cma82ojiteqbuo0iodmpb2kenrisf3.apps.googleusercontent.com">
</head>
<body>
<mat-toolbar color="primary">

    <!-- Web Navbar -->
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/" class="web-title">
            {{title}}</button>
        <!--<a mat-tab-link [routerLink]="['/']"  routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon class="icons">tag_faces</mat-icon>Home</a>-->
        <ul class="nav-things">
            <li><a  [routerLink]="['/trackers']"  routerLinkActive="nav-active">Tracker</a></li>
            <li><a  [routerLink]="['/journals']"  routerLinkActive="nav-active">Journals</a></li>
            <li><a  [routerLink]="['/goals']"  routerLinkActive="nav-active">Goals</a></li>
            <li><a  [routerLink]="['/reports']"  routerLinkActive="nav-active">Reports</a></li>
        </ul>
    </div>



    <div class="g-signin2 mt-2 col-md-12" data-onsuccess="onSignIn">
        This is sign on
    </div>

    <div>
        <button mat-button button href="/" onclick="signOut();">Sign out</button>
    </div>


    <button mat-button fxHide="false"
            fxHide.gt-sm routerLink="/" class="web-title">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-button [mat-menu-trigger-for]="menu"
            fxHide="false" fxHide.gt-sm class="menu-button">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

    <!-- Mobile Navbar -->
    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item routerLink="/trackers">Trackers</button>
        <button mat-menu-item routerLink="/journals">Journals</button>
        <button mat-menu-item routerLink="/goals">Goals</button>
        <button mat-menu-item routerLink="/reports">Reports</button>
    </mat-menu>
    <router-outlet></router-outlet>
</body>
