/*nav{
    background-color:cyan;
    font-size: 200%;
    font-family:"erewhon"

}*/

mat-nav-list {
    word-spacing: 50px;
    padding-left: 100px;
    padding-right:100px;
    font-family:cursive;
    background-color: whitesmoke;
    display: block;
}
.move { display: inline-block; }

@media (max-width: 750px) {
    .move { display: block; }
}

body{
    background-color:whitesmoke;
    font-size:150%;
    font-family:cursive;
}

.icons{
    font-size:140%;
}

/* modifies top portion of page where menus are*/
mat-nav-list[_ngcontent-c0] {
}
