<body>
<div>
    <nav mat-tab-nav-bar flex sidenavTitle="Lab 4">
        <div>
        <mat-nav-list>
            <div class="move">
            <a mat-tab-link [routerLink]="['/']"  routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon class="icons">tag_faces</mat-icon>Home</a>
            </div >
            <div class="move">
            <a mat-tab-link [routerLink]="['/trackers']"  routerLinkActive="nav-active"><mat-icon class="icons">timeline</mat-icon>MoodTracker</a>
            </div>
            <div class="move">
            <a mat-tab-link [routerLink]="['/journals']"  routerLinkActive="nav-active"><mat-icon class="icons">book</mat-icon>Journals</a>
            </div>
            <div class="move">
                <a mat-tab-link [routerLink]="['/goals']"  routerLinkActive="nav-active"><mat-icon class="icons">done</mat-icon>Goals</a>
            </div>
            <div class="move">
                <a mat-tab-link [routerLink]="['/reports']"  routerLinkActive="nav-active"><mat-icon class="icons">insert_chart</mat-icon>Reports</a>
            </div>
            <div class="move">
                <button mat-raised-button color="warn" id="emergency" (click)="openDialog()"><mat-icon class="icons">local_phone</mat-icon>Emergency Contacts</button>
            </div>
        </mat-nav-list>
        </div>
    </nav>
</div>
    <router-outlet></router-outlet>
</body>









<!--<td-layout-nav >-->
<!--<button mat-icon-button td-toolbar-content>-->
<!--<a mat-tab-link [routerLink]="['/']"  routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon>home</mat-icon>Home</a>-->
<!--</button>-->
<!--&ensp;-->
<!--<button mat-icon-button td-toolbar-content>-->
<!--<a mat-tab-link [routerLink]="['/users']"  routerLinkActive="nav-active"><mat-icon>account_box</mat-icon>Trackers</a>-->
<!--</button>-->
<!--&ensp;-->
<!--<button mat-icon-button td-toolbar-content>-->
<!--<a mat-tab-link [routerLink]="['/trackers']"  routerLinkActive="nav-active"><mat-icon>account_box</mat-icon>Trackers</a>-->
<!--</button>-->
<!--<router-outlet></router-outlet>-->
<!--</td-layout-nav>-->
