<!--
<body>
<div>
    <nav mat-tab-nav-bar flex sidenavTitle="Lab 4">
        <div>
        <mat-nav-list>
            <div class="move">
            <a mat-tab-link [routerLink]="['/']"  routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon class="icons">tag_faces</mat-icon>Home</a>
            </div >
            <div class="move">
            <a mat-tab-link [routerLink]="['/trackers']"  routerLinkActive="nav-active"><mat-icon class="icons">timeline</mat-icon>MoodTracker</a>
            </div>
            <div class="move">
            <a mat-tab-link [routerLink]="['/journals']"  routerLinkActive="nav-active"><mat-icon class="icons">book</mat-icon>Journals</a>
            </div>
            <div class="move">
                <a mat-tab-link [routerLink]="['/goals']"  routerLinkActive="nav-active"><mat-icon class="icons">done</mat-icon>Goals</a>
            </div>
            <div class="move">
                <a mat-tab-link [routerLink]="['/reports']"  routerLinkActive="nav-active"><mat-icon class="icons">insert_chart</mat-icon>Reports</a>
            </div>
            <div class="move">
                <button mat-raised-button color="warn" id="emergency" (click)="openDialog()"><mat-icon class="icons">local_phone</mat-icon>Emergency Contacts</button>
            </div>
        </mat-nav-list>
        </div>
    </nav>
</div>
    <router-outlet></router-outlet>
</body>

-->
<body>
<mat-toolbar color="primary">

    <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        {{title}}</button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <a mat-tab-link [routerLink]="['/']"  routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon class="icons">tag_faces</mat-icon>Home</a>
        <a mat-tab-link [routerLink]="['/trackers']"  routerLinkActive="nav-active"><mat-icon class="icons">timeline</mat-icon>MoodTracker</a>
        <a mat-tab-link [routerLink]="['/journals']"  routerLinkActive="nav-active"><mat-icon class="icons">book</mat-icon>Journals</a>
        <a mat-tab-link [routerLink]="['/goals']"  routerLinkActive="nav-active"><mat-icon class="icons">done</mat-icon>Goals</a>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>

<!-- Mobile Navbar -->
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/trackers">Trackers</button>
    <button mat-menu-item routerLink="/journals">Journals</button>
    <button mat-menu-item routerLink="/goals">Goals</button>
    <!--<button mat-menu-item>Help</button>-->
</mat-menu>
    <router-outlet></router-outlet>
</body>
