nav{
    background-color:cyan;
    font-size: 200%;
    font-family:"erewhon"

}

mat-nav-list {
    word-spacing: 600px;
    padding-left: 100px;
    padding-right:100px;
    font-family:cursive;
}

