canvas {
    border: 1px solid black;
    background-color: #e6f7ff;
}

.chart-container {
    position: relative;
    margin: 3%;
    padding: 3%;
    /*bottom portion of page*/
    background-color: whitesmoke;
}
