#title input {
    width:16%;
    min-width: 100px;
}

#list-title {
    padding-right: 14px;
}
body {
    background-image: url("https://i.ytimg.com/vi/ZgJfXlSVDxY/maxresdefault.jpg");
}

.Trackers{
    padding-top: 120px;
}
