.first-sec {
    width: 320px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.manage-trackers-card {
    background-color: rgba(173, 216, 230, 0.14);
}

#trackerEmoji {
    font-size: 18px;
}

#trackers-title {
    font-size: 32px;
    text-align: center;
}

.trackers-card {
    background-color: lightyellow;
}
