<body>
<main>
    <div *ngIf="showPage; else askToLogin" layout="column">
        <!-- Managing Trackers Card -->
        <div class="first-sec">
            <mat-card class="manage-trackers-card">
                <mat-card-title id="trackers-title">Mood Tracking</mat-card-title>
                <mat-card-subtitle class="trackers-subtitle">You can view a history of which emotions you selected,
                    their intensities, and the date and time that they were chosen.
                </mat-card-subtitle>
                <mat-card-content class="trackers-content">
                    <form>
                        <label id="trackerEmoji">Filter By Emotion: </label>
                        <mat-select placeholder="Select" name="dropdown" id="dropdown" (click)="trackerEmoji = trackerEmoji">
                            <mat-option value="" (click)="trackerEmoji = null"></mat-option>
                            <mat-option value="happy" (click)="trackerEmoji = 'Happy'" >Happy</mat-option>
                            <mat-option value="normal" (click)="trackerEmoji = 'Normal'">Normal</mat-option>
                            <mat-option value="sad" (click)="trackerEmoji = 'Sad'">Sad</mat-option>
                            <mat-option value="angry" (click)="trackerEmoji = 'Angry'" >Angry</mat-option>
                            <mat-option value="anxious" (click)="trackerEmoji = 'Anxious'">Anxious</mat-option>
                        </mat-select>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    <div layout-gt-sm="row">
        <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card class="trackers-card">
            <mat-card-content>
                <mat-accordion class = "trackers" *ngIf="trackers; else trackersError" >
                    <mat-expansion-panel #elem class="trackers" [id]="tracker._id['$oid']" [expanded]="this.isHighlighted(tracker)" *ngFor="let tracker of this.filterTrackers(trackerEmoji, trackerTime) | slice:index:index+10; let i=index;">
                        <mat-expansion-panel-header>
                            <mat-panel-title >{{tracker.emoji}}</mat-panel-title>

                        </mat-expansion-panel-header>
                        <!--<mat-panel-description>ID: {{tracker._id['$oid']}}</mat-panel-description>-->
                        <mat-panel-description >{{tracker.date}}</mat-panel-description>
                        <mat-panel-description >Intensity: {{tracker.rating}}</mat-panel-description>

                    </mat-expansion-panel>

                    <button mat-button type="button" matSuffix mat-icon-button aria-label="clear" id="firstIndexTracker" (click)="firstIndex()">
                        <mat-icon>first_page</mat-icon>
                    </button>
                    <button mat-button type="button" matSuffix mat-icon-button aria-label="clear" id="prevIndexTracker" (click)="prevIndex()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <button mat-button type="button" matSuffix mat-icon-button aria-label="clear" id="nextIndexTracker" (click)="nextIndex()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                    <button mat-button type="button" matSuffix mat-icon-button aria-label="clear" id="lastIndexTracker" (click)="lastIndex()">
                        <mat-icon>last_page</mat-icon>
                    </button>

                </mat-accordion>
                <ng-template #trackersError>
                    <mat-error>
                        There was a problem loading the trackers. Possibly the server is down or perhaps there are network
                        issues.
                    </mat-error>
                    <mat-error>
                        Please wait a bit and try again or start the server.
                    </mat-error>
                </ng-template>
            </mat-card-content>

            <section>
                <mat-progress-bar
                    [value]="progress">
                </mat-progress-bar>
            </section>

        </mat-card>
        </div>
    </div>
    </div>
</main>
</body>


<ng-template #askToLogin>
    <h1>You need to login to see this page</h1>
</ng-template>
